* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: clamp(0.875rem, 1vw + 0.5rem, 1.125rem);
    background-color: black;
}

i {
    color: white;
    font-size: 40px;
}
main {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .reels-container {
        width: 100%;
        height: 100%;
        .reel {
            width: 100%;
            height: 100%;
            display: flex;
            position: relative;
            .reel-left{
                background-color: red;
                width: 100%;
                position: relative;
                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    
                }

                .reel-left-bottom {
                    display: flex;
                    flex-direction: column;
                    gap: 7px;
                    bottom: 10px;
                    color: white;
                    padding: 10px;
                    position: absolute;

                    .bottom-up {
                        display: flex;
                        gap: 10px;
                        align-items: center;

                        h3 {
                            font-size: 1rem;
                        }

                        button {
                            background-color: transparent;
                            border: 1px solid white;
                            color: white;
                            border-radius: 10px;
                            padding: 5px 10px;
                            font-size: 1.2rem;
                        }
                    }

                    .bottom-down {
                        p {
                            font-size: 1rem;
                        }
                    }

                    img {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }
            }
            .reel-right{
                position: absolute;
                right: 5px;
                top: 65%;
                div{
                    margin-bottom: 15px;
                    p{
                        font-size: 1.5rem;
                    }
                }
            }
            

        }
    }
}